

@{
    ViewData["Title"] = "Clients";
}

<div class="text-center">
    <h1 class="display-4">Ecommerce: Clients </h1>
    <p>Welcome to the Products</p>
    <h2>You have no clients yet</h2>
</div>