@model Product

@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">Ecommerce: Products </h1>
    <p>Welcome to the Products</p>
</div>

<partial name="SimpleProduct" />
