

@{
    ViewData["Title"] = "Sales";
}

<div class="text-center">
    <h1 class="display-4">Ecommerce: Products </h1>
    <p>Welcome to the Products</p>
    <h2>You have no Sales yet</h2>
</div>